* {
    margin:0;
    font-family: 'Sarabun', sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    flex-flow: column;
    padding: 0;
    background-color: green;
    flex:1;
    height:100vh;
}

/* Style the header */
header {
    background-color: red;
    padding: 30px;
    margin:0px;
    text-align: center;
    font-size: 35px;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}

section {
    display:flex;
    flex-flow: row;
    flex:1;
}

nav {
    width: 30%;
    background: #ccc;
    padding: 20px;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;

}

nav ul li a{
    color:black;
    text-decoration: none;
}

article {
    flex:1;
    padding: 20px;
    /* width: 70%; */
    background-color: #f1f1f1;
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
footer {
    background-color: red;
    padding: 10px;
    text-align: center;
    color: white;
    /* height:20%; */
    flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
    /* flex:1; */
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }
}
